<div class="blog-post">
    <h2 class="blog-post-title">
        <a href="/posts/{{slug}}" rel="bookmark">{{title}}</a>
    </h2>

    <p class="blog-post-meta">{{createdAt}} by <a href="/pages/about">Erick</a></p>
    {{{text}}}
    <br>
</div>
<!-- /.blog-post -->