<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">home</a></li>
    <li role="presentation"><a href="#">code</a></li>
    <li role="presentation"><a href="#">cooking</a></li>
    <li role="presentation"><a href="#">motorcycles</a></li>
</ul>
<br/>
<br/>
