<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item{{#ifCond activeTab "home"}} active{{/ifCond}}" href="/">Home</a>
            <a class="blog-nav-item{{#ifCond activeTab "code"}} active{{/ifCond}}"
               href="/articles/categories/code">Code</a>
            <a class="blog-nav-item{{#ifCond activeTab "cooking"}} active{{/ifCond}}"
               href="/articles/categories/cooking">Cooking</a>
            <a class="blog-nav-item{{#ifCond activeTab "motorcycles"}} active{{/ifCond}}"
               href="/articles/categories/motorcycles">Motorcycles</a>
            <a class="blog-nav-item{{#ifCond activeTab "motorcycles"}} active{{/ifCond}}" href="/admin/articles/new">Admin</a>
        </nav>
    </div>
</div>