<div class="sidebar-module sidebar-module-inset" style="margin-top: 43px">
    {{> search_form}}
</div>
<div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
        <li><a href="http://github.com/erickbrower">GitHub</a></li>
        <li><a href="http://twitter.com/erickbrower">Twitter</a></li>
    </ol>
</div>
<!-- /.blog-sidebar -->