var path = require('path'),
  rootPath = path.normalize(__dirname + '/..'),
  env = process.env.NODE_ENV || 'development';

var appName = 'thing';

var config = {
  development: {
    root: rootPath,
    app: {
      name: appName
    },
    port: 3000,
    db: 'mongodb://192.168.99.100:49153/' + appName +'-development'
  },

  test: {
    root: rootPath,
    app: {
      name: appName
    },
    port: 3000,
    db: 'mongodb://192.168.99.100:49153/' + appName +'-test'
  },

  production: {
    root: rootPath,
    app: {
      name: appName
    },
    port: 3000,
    db: 'mongodb://localhost/' + appName +'-production'
  }
};

module.exports = config[env];
