<div class="row">
    <div class="col-sm-8 blog-main">
        {{#each posts}}
            {{> post}}
        {{/each}}
    </div>
    <!-- /.blog-main -->
    {{> sidebar}}
</div>
<!-- /.row -->
