<div class="container">
    {{> header}}
    <div class="row">
        <div class="col-sm-8 blog-main">
            {{#each posts}}
                {{> post}}
            {{/each}}
        </div>
        <!-- /.blog-main -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->