<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@erickbrower's personal blog about nonsense.">
    <meta name="author" content="@erickbrower">

    <title>erickbrower</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
{{> navbar }}
<div class="container">
    {{> header}}
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-main">
                {{{body}}}
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>
